In [404]:
import pandas as pd
import numpy as np
import os
import json
import re
import googlemaps
from tqdm import tqdm

# Delhi dataset

In [378]:
line_file_paths = [os.path.join("datasets/Delhi", path) for path in os.listdir("datasets/Delhi")]

try:
    line_file_paths.remove(".DS_Store")
except ValueError:
    pass

delhi_df_dict = {
    "Station Name": [],
    "Line": [],
    "x": [],
    "y": []
}

for line_file_name in line_file_paths:
    line_df = pd.read_csv(line_file_name)
    station_names = list(line_df["Station"])
    line_names = list(line_df["Line"])
    x_vals = np.array(list(line_df["Longitude"]))
    y_vals = np.array(list(line_df["Latitude"]))
    # x_max, y_max = x_vals.max(), y_vals.min()
    # x_vals = list((x_vals - min_val) / (max_val - min_val))
    # y_vals = list((y_vals - min_val) / (max_val - min_val))
    # x_vals = x_vals / x_max
    # y_vals = y_vals / y_max
    delhi_df_dict["Station Name"].extend(station_names)
    delhi_df_dict["Line"].extend(line_names)
    delhi_df_dict["x"].extend(x_vals)
    delhi_df_dict["y"].extend(y_vals)

delhi_df = pd.DataFrame(delhi_df_dict)
delhi_df.head()

                Station Name          Line          x          y
0           Botanical Garden  Magenta Line  77.334332  28.563896
1       Okhla Bird Sanctuary  Magenta Line  77.321635  28.552904
2               Kalindi Kunj  Magenta Line  77.310143  28.542813
3  Jasola Vihar Shaheen Bagh  Magenta Line  77.296629  28.546002
4                Okhla Vihar  Magenta Line  77.291930  28.561300

In [379]:
delhi_cmap = {
    "Magenta Line": "magenta",
    "Pink Line": "pink",
    "Red Line": "red",
    "Orange Line": "orange",
    "Green Line": "green",
    "Blue Line": "blue",
    "Yellow Line": "black",
    "Violet Line": "violet",
    "Grey Line": "grey",
    "Green Line Branch": "olive",
    "Blue Line Branch": "indigo"
}

In [380]:
delhi_df.to_csv("final-datasets/delhi.csv", index=False)

In [381]:
delhi_df = pd.read_csv("final-datasets/delhi.csv")
output_dict = {}
for line in delhi_cmap:
    line_df = delhi_df[delhi_df["Line"] == line]
    output_dict[line] = {}
    for i, station_data in line_df.iterrows():
        name, line, x, y = station_data
        output_dict[line][name] = {"x":x, "y":y}

In [382]:
delhi_json = json.dumps(output_dict, indent=4)
with open("final-json-datasets/delhi.json", "w") as out:
    out.write(delhi_json)

# Toronto dataset

In [383]:
toronto_df = pd.read_csv("datasets/toronto.csv")
toronto_df.head()

      STATION            LINE LINE2            x             y
0     Kipling  Bloor-Danforth   NaN  618101.6130  4.832636e+06
1   Islington  Bloor-Danforth   NaN  618990.6128  4.833544e+06
2  Royal York  Bloor-Danforth   NaN  620056.4957  4.833883e+06
3    Old Mill  Bloor-Danforth   NaN  621361.6775  4.834112e+06
4        Jane  Bloor-Danforth   NaN  622220.6642  4.834091e+06

In [384]:
toronto_df_dict = {
    "Station Name": [],
    "Line": [],
    "x": [],
    "y": []
}

for i, station_data in toronto_df.iterrows():
    name, line1, line2, x, y = station_data
    toronto_df_dict["Station Name"].append(name)
    toronto_df_dict["Line"].append(line1)
    toronto_df_dict["x"].append(x)
    toronto_df_dict["y"].append(y)

    if isinstance(line2, str):
        toronto_df_dict["Station Name"].append(name)
        toronto_df_dict["Line"].append(line2)
        toronto_df_dict["x"].append(x)
        toronto_df_dict["y"].append(y)

toronto_df = pd.DataFrame(toronto_df_dict)
toronto_df.head(68)

   Station Name                      Line            x             y
0       Kipling            Bloor-Danforth  618101.6130  4.832636e+06
1     Islington            Bloor-Danforth  618990.6128  4.833544e+06
2    Royal York            Bloor-Danforth  620056.4957  4.833883e+06
3      Old Mill            Bloor-Danforth  621361.6775  4.834112e+06
4          Jane            Bloor-Danforth  622220.6642  4.834091e+06
..          ...                       ...          ...           ...
63        Finch  Yonge-University-Spadina  627505.4022  4.848640e+06
64      Bayview                  Sheppard  629762.5038  4.847231e+06
65    Bessarion                  Sheppard  630655.0802  4.847518e+06
66       Leslie                  Sheppard  631441.7581  4.847727e+06
67    Don Mills                  Sheppard  633087.1372  4.848247e+06

[68 rows x 4 columns]

In [385]:
toronto_df.to_csv("sample.csv")

In [386]:
toronto_df = pd.read_csv("final-datasets/toronto.csv")

In [387]:
toronto_df = pd.read_csv("final-datasets/toronto.csv")

output_dict = {}
for line in toronto_cmap:
    line_df = toronto_df[toronto_df["Line"] == line]
    output_dict[line] = {}
    for i, station_data in line_df.iterrows():
        name, line, x, y = station_data
        output_dict[line][name] = {"x":x/100000, "y":y/100000}


toronto_json = json.dumps(output_dict, indent=4)
with open("final-json-datasets/toronto.json", "w") as out:
    out.write(toronto_json)

# Singapore dataset

In [388]:
sg_df = pd.read_csv("datasets/Singapore.csv")
sg_df = sg_df.drop(labels=[130, 146], axis=0)
sg_df.head()

,OBJECTID,STN_NAME,STN_NO,X,Y,Latitude,Longitude,COLOR
0,12,ADMIRALTY MRT STATION,NS10,24402.1063,46918.1131,1.440585,103.800998,RED
1,16,ALJUNIED MRT STATION,EW9,33518.6049,33190.0020,1.316433,103.882893,GREEN
2,33,ANG MO KIO MRT STATION,NS16,29807.2655,39105.7720,1.369933,103.849553,RED
3,81,BAKAU LRT STATION,SE3,36026.0821,41113.8766,1.388093,103.905418,OTHERS
4,80,BANGKIT LRT STATION,BP9,21248.2460,40220.9693,1.380018,103.772667,OTHERS

In [389]:
line_names = np.unique(np.array(sg_df["COLOR"]))
line_names = line_names[line_names != "OTHERS"]
order = [int(i[2:]) for i in sg_df["STN_NO"]]
sg_df["order"] = order

In [390]:
output_dict = {}
for line_name in line_names:
    output_dict[line_name.title()] = {}
    line_df = sg_df[sg_df["COLOR"] == line_name].sort_values("order")
    for i, station_data in line_df.iterrows():
        name, x, y = station_data["STN_NAME"], station_data["Longitude"], station_data["Latitude"]
        output_dict[line_name.title()][name.title()] = {"x":x, "y":y}

sg_json = json.dumps(output_dict, indent=4)
with open("final-json-datasets/singapore.json", "w") as out:
    out.write(sg_json)

# London dataset

In [391]:
london_file = open("datasets/London.json", "r")
london_json = json.load(london_file)
london_lines = london_json["lines"]
london_stations = london_json["stations"]

In [473]:
output_dict = {}
for line in london_lines:
    line_name = line["name"]
    if line_name not in output_dict:
        output_dict[line_name] = {}
    else:
        i = 2
        while line_name + str(i) in output_dict:
            i += 1
        line_name = line_name + str(i)
        output_dict[line_name] = {}
    stations = line["nodes"]
    for station in stations:
        if "name" in station:
            station_name = station["name"]
            if station_name not in london_stations:
                station_name = re.sub(r"(\w)([A-Z])", r"\1 \2", station_name)
            x, y = london_stations[station_name]["position"]["lon"], london_stations[station_name]["position"]["lat"]
            # x, y = station["coords"]

            output_dict[line_name][station_name] = {"x":x, "y":y}

In [474]:
london_final_json = json.dumps(output_dict, indent=4)
with open("final-json-datasets/london.json", "w") as out:
    out.write(london_final_json)

# New York dataset

In [394]:
ny_df = pd.read_csv("datasets/New-York.csv")
to_keep = ["Line", "Station Name", "Station Latitude", "Station Longitude"]
to_remove = list(ny_df.columns)
for col in to_keep:
    to_remove.remove(col)
ny_df = ny_df.drop(columns=to_remove).drop_duplicates()
ny_df.head()

        Line Station Name  Station Latitude  Station Longitude
0   Brighton  West 8th St         40.576127         -73.975939
2   4 Avenue      25th St         40.660397         -73.998091
4   4 Avenue      36th St         40.655144         -74.003549
7   4 Avenue      45th St         40.648939         -74.010006
11  4 Avenue      53rd St         40.645069         -74.014034

In [395]:
lines = np.unique(np.array(ny_df["Line"]))
output_dict = {}

for line in lines:
    output_dict[line] = {}
    line_df = ny_df[ny_df["Line"] == line]
    for i, station_data in line_df.iterrows():
        line, name, y, x = station_data
        output_dict[line][name] = {"x":x, "y":y}

In [396]:
ny_json = json.dumps(output_dict, indent=4)
with open("final-json-datasets/new-york.json", "w") as out:
    out.write(ny_json)

# Tokyo dataset

In [397]:
tokyo_df = pd.read_csv("datasets/Tokyo.csv")
lines = [i[-1:] for i in tokyo_df["on_line"]]
tokyo_df["line"] = lines
tokyo_df = tokyo_df.drop(columns=["on_line", "station name english", "station"])
tokyo_df.head()

  station name line
0          渋谷駅    G
1         表参道駅    G
2         外苑前駅    G
3       青山一丁目駅    G
4        赤坂見附駅    G

In [398]:
gmaps = googlemaps.Client("")

In [410]:
geocode_dict = {}
num_stations = len(tokyo_df)
loader = tqdm(enumerate(tokyo_df["station name"]), total=num_stations, leave=False, position=0)
for i, name in loader:
    code = gmaps.geocode(name)
    geocode_dict[name] = code

In [419]:
for key in geocode_dict:
    if len(geocode_dict[key]) > 1:
        print(key)

In [429]:
output_dict = {}
lines = np.unique(np.array(tokyo_df["line"]))
for line in lines:
    line_df = tokyo_df[tokyo_df["line"] == line]
    output_dict[line] = {}
    for station_name in line_df["station name"]:
        code = geocode_dict[station_name]
        x, y = code[0]["geometry"]["location"]["lng"], code[0]["geometry"]["location"]["lat"]
        if station_name == "京橋駅":
            x, y = 139.77006608445632, 35.67685626991343
        output_dict[line][station_name] = {"x":x, "y":y}

In [430]:
tokyo_json = json.dumps(output_dict, indent=4)
with open("final-json-datasets/tokyo.json", "w") as out:
    out.write(tokyo_json)

# Seoul dataset

In [462]:
seoul_df = pd.read_csv("datasets/seoul.csv")
seoul_df = seoul_df.drop(columns=["Unnamed: 0", "no"])
seoul_df.head()

   line   name        lat         lng
0  01호선    소요산  37.948100  127.061034
1  01호선    동두천  37.927878  127.054790
2  01호선     보산  37.913702  127.057277
3  01호선  동두천중앙  37.901885  127.056482
4  01호선     지행  37.892334  127.055716

In [479]:
lines = ['01호선', '02호선', '03호선', '04호선', '05호선', '06호선', '07호선', '08호선', '09호선']
# lines = np.unique(np.array(seoul_df["line"]))
output_dict = {}
for line in lines:
    line_df = seoul_df[seoul_df["line"] == line]
    output_dict[line] = {}
    for i, station_data in line_df.iterrows():
        line, name, y, x = station_data
        output_dict[line][name] = {"x":x, "y":y}

In [480]:
seoul_json = json.dumps(output_dict, indent=4)
with open("final-json-datasets/seoul.json", "w") as out:
    out.write(seoul_json)

# Checking for intersections

In [468]:
json_paths = os.listdir('final-json-datasets')
data = []
for json_path in json_paths:
    json_file = open(os.path.join('final-json-datasets', json_path), "r")
    data.append(json.load(json_file))

In [469]:
for train_dict in data:
    stations_so_far = []
    intersection_found = False
    for stations in train_dict.values():
        for station in stations:
            if station in stations_so_far:
                intersection_found = True
                break
            stations_so_far.append(station)
    print(intersection_found)

True
True
True
True
True
True
True